<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>dangdang_server</display-name>
  <welcome-file-list>
    <welcome-file>login.do</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminInfoServlet</display-name>
    <servlet-name>AdminInfoServlet</servlet-name>
    <servlet-class>com.zyy.servlet.admin.AdminInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminInfoServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfoServlet</display-name>
    <servlet-name>UserInfoServlet</servlet-name>
    <servlet-class>com.zyy.servlet.user.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoServlet</servlet-name>
    <url-pattern>/user.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookInfoServlet</display-name>
    <servlet-name>BookInfoServlet</servlet-name>
    <servlet-class>com.zyy.servlet.book.BookInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookInfoServlet</servlet-name>
    <url-pattern>/bookList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAddServlet</display-name>
    <servlet-name>UserAddServlet</servlet-name>
    <servlet-class>com.zyy.servlet.user.UserAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddServlet</servlet-name>
    <url-pattern>/useradd.do</url-pattern>
  </servlet-mapping>
</web-app>